@use "../../global" as *;


.p-news {
  &__heading {
    margin-bottom: 90px;

    @include mq(lv1280) {
      margin-bottom: 70px;
    }

    @include mq(lv767) {
      margin-bottom: 45px;
    }
  }
}